.jumbo-cus {
   height: 40vh;
   background: black;
   color:white;
   margin-bottom: 0;
   border-radius: 0;
}

.navi-cus {
    margin: 0;
    padding-top: 0;
}

#about-cus {
    margin: 20px;
}

.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0 !important;
}

.tl-cus {
    background-color: #EEE;
    width: 80vw;
    margin: 0 auto;
    border-radius: 5px;
}

.li {
    transition: all 200ms ease-in;
}

.timestamp {
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}

.status {
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    position: relative;
    transition: all 200ms ease-in;
    font-weight: 600;
}
.status::before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd;
    position: absolute;
    top: -15px;
    left: 42%;
    transition: all 200ms ease-in;
}

.li.complete .status {
    border-top: 2px solid #66DC71;
}

.li.complete .status::before {
    background-color: #66DC71;
    border: none;
    transition: all 200ms ease-in;
}

.li.complete .status h4 {
    color: #66DC71;
}


